
.movie-img {
    width: 200px;
    height: 250px;
    border-radius: 10px;

}
.info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    margin-top: -10px;
}
.rating{
    color: black;
}
.sub-heading{
    font-size: 12px;
    margin-top: -20px;
    color: black;
}
.details{
    margin-top: -15px;
    font-weight: bolder;
    font-size: 12px;
}
.movie-card {
    width: 200px;
    background-color: #e8a9a9;
    padding: 10px;
    margin: 10px;
}